.App {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

th,
td {
  padding: 12px 15px;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
padding-right: 0; }
